import os
import subprocess

from distutils.sysconfig import get_python_lib
lib_path = get_python_lib()

errors = []
for root, dirs, files in os.walk(lib_path):
    relative_path = root[len(lib_path)+1:]
    for f in files:
        if f.endswith(".py"):
           py_path = "./bin/python"
           file_path = "%s/%s" % (root, f)
           process = subprocess.Popen(
               [py_path, '-m', 'py_compile', file_path],
               stdout=subprocess.PIPE,
               stderr=subprocess.PIPE
           )
           out, err = process.communicate()
           if err:
               errors.append({"file": file_path, "error": err})

print(errors)
